body {
    height: 90%;
    margin: 0;
    background-image: url("https://papers.co/wallpaper/papers.co-vt06-abstract-art-color-basic-background-pattern-36-3840x2400-4k-wallpaper.jpg");
    background-size: cover;
    text-align: center;

    
   
}

