body {
    height: 90%;
    margin: 0;
    background-image: url("https://images.vastsverige.com/publishedmedia/50zk4638oow4tdpm84ra/Marstrand_130618-1934_Photo_Cred_Per_Pixel.jpg");
    background-size: cover;
    text-align: center;

   
}

